:root {
  --yellow: #ffcf43;
  //--dark-navy: #020c1b;
  --navy: #0a192f;
  //--light-navy: #112240;
  //--lightest-navy: #233554;
  //--navy-shadow: rgba(2,12,27,0.7);
  //--dark-slate: #495670;
  --slate: #8892b0;
  //--light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;

  --sans-serif-font: Montserrat, "Helvetica Neue", "Segoe UI", Helvetica, Arial,
    sans-serif;
  --h1-font: "Montserrat Alternates", var(--sans-serif-font);
}

/*
@media (prefers-color-scheme: light) {
    :root {
        --yellow: #FFCF43;
        --dark-navy: #020c1b;
        --navy: #0a192f;
        --light-navy: #112240;
        --lightest-navy: #233554;
        --navy-shadow: rgba(2,12,27,0.7);
        --dark-slate: #495670;
        --slate: #8892b0;
        --light-slate: #a8b2d1;
        --lightest-slate: #ccd6f6;
    }
}*/

html,
body {
  color: var(--slate);
  margin: 0 1rem;
  padding: 0;
}

html {
  font-family: var(--sans-serif-font);
  font-size: 16px;
  overflow-y: auto;
}

body {
  background-color: var(--navy);
}

a {
  transition: color 0.4s ease-out;
  color: var(--slate);

  &:hover {
    color: var(--yellow);
    cursor: pointer;
  }
}

h1 {
  font-family: var(--h1-font);
  font-size: 9rem;
  color: var(--lightest-slate);
}

h2 {
  font-size: 3rem;
  font-weight: normal;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
}

@media screen and (max-width: $break-medium) {
  h1 {
    font-size: 15vw;
  }

  h2 {
    font-size: 2.5rem;
  }
}

img.portrait {
  box-sizing: border-box;
  border-radius: 50% 0%;
  border: 10px solid var(--slate);
  margin: 2em 3em;
  width: 100%;
  height: auto;
  max-width: 300px;
  max-height: 300px;

  @media screen and (max-width: $break-medium) {
    border-width: 5px;
  } 
}

// ukraine
img.portrait {
  background: linear-gradient(#005bbb 50%, #ffd500 50%);
}
  
