.column {
    flex: 1;
}

main {
    .block {
        display: flex;
    }

    .block.introduction {
        margin-top: 20vh;
    }

    .column.left {
        text-align: end;
    }

    .column.right {
        h1 {
            margin-left: -11px; /* Correction for margin of leftmost character. */
            margin-bottom: 0.4em;
        }

        h2 {
            margin-left: -4px; /* Correction for margin of leftmost character. */
            margin-top: 0;
        }

        ul {
            margin: 0;
            padding: 0;
            display: flex;
        }

        ul li {
            list-style: none;
            margin: 0 12px 0 0;
        }

        ul li:first-child a {
            margin-left: -8px;
        }

        .social-links {
            a {
                text-decoration: none;
                position: relative;
                display: block;
                width: 2.5em;
                height: 2.5em;
                text-align: center;
                background: var(--color-background);
                border-radius: 50%;
                color: var(--color-font);
                transition: 0.5s;
                line-height: 2.5em;
            }

            a::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: var(--color-link);
                transition: var(--transition);
                transform: scale(0.9);
                z-index: -1;
            }

            a:hover::before {
                transform: scale(1.1);
                box-shadow: 0 0 15px var(--color-link);
            }

            a:hover {
                color: var(--color-link);
                box-shadow: 0 0 5px var(--color-link);
                text-shadow: 0 0 2px var(--color-link);
            }
        }
    }

    @media screen and (max-width: $break-large) {
        .block {
            flex-direction: column;
        }

        .column.right h1 {
            margin-left: -6px; /* Correction for margin of leftmost character. */
        }

        .block.introduction {
            margin-top: 1em;
        }

        .column.left {
            text-align: left;
        }

        .column.right h1 {
            margin-top: 1em;
        }
    }
}

footer {
    display: flex;
    margin-top: 7.5vh;
    font-size: 0.75rem;

    @media screen and (max-width: $break-large) {
        flex-direction: column;
    }

    .column.right {
        overflow: hidden;

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        ul li {
            list-style: none;
            flex-basis: auto;
            margin: 0;
            padding: 0;
            display: inline-block;
        }

        ul li:not(:first-child)::before {
            content: "|";
            padding: 0 5px;
        }

        a {
            position: relative;
            text-decoration: none;
        }

        a::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: var(--color-font);
            visibility: visible;
            transition: var(--transition);
        }

        a:hover::before {
            visibility: hidden;
            width: 0;
            background-color: var(--color-link);
        }
    }
}
