{{ define "main" }}
<main>
  <div class="block introduction">
    <div class="column left">
      <a href="{{ "/" | relURL }}" rel="me" aria-label="Home" title="Home">
          {{ partial "svg.html" (dict "context" . "image" "portrait.svg" "class" "portrait") }}
      </a>        
    </div>
      <div class="column right">
        <article class="post">
          <header>
            <h2>{{ .Title }}</h2>
            {{ partial "meta.html" . }}
          </header>
          <p>{{ .Content }}</p>
        </article>
      </div>
    </div>
  </main>
{{ end }}