@media screen and (min-width: 992px), print {
    .block.introduction {
        min-height: calc(100vh - 30vh) !important;
    }
}

@media screen and (max-width: 992px), print {
    .block.introduction {
        min-height: calc(100vh - 20vh) !important;
    }
}

img.portrait {
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
}

img.portrait:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
