.block.introduction {
    min-height: calc(90vh - 20vh) !important;
}

@media screen and (max-width: 992px), print {
    .block.introduction {
        margin-top: 1em !important;
    }
}

img.portrait {
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
}

img.portrait:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

html,
body {
    margin: 0 1em !important;
}
