{{ define "main" }}
    <main>
        <div class="block introduction">
            <div class="column left">
                <a href="{{ "/" | relURL }}" rel="me" aria-label="Home" title="Home">
                    {{ partial "svg.html" (dict "context" . "image" "portrait.svg" "class" "portrait") }}
                </a>
            </div>
            <div class="column right">
                {{- with .Param "greeting" -}}
                    <h1>{{ . }}</h1>
                {{- else -}}
                    <h1>{{ i18n "hello" }}.</h1>
                {{- end -}}
                <h2>{{ i18n "i-am" }} {{ .Site.Author.name | default "Hallo" }}.</h2>

                <ul class="social-links">
                    {{- range .Site.Params.links -}}
                        <li>
                            <a href="{{ .url }}" rel="me noreferrer" aria-label="{{ .title }}" title="{{ .title }}">
                                {{ partial "svg.html" (dict "context" . "image" .icon "class" "feather") }}
                            </a>
                        </li>
                    {{- end -}}
                </ul>
            </div>
        </div>
    </main>
{{ end }}
