:root {
    --color-link: #ffcf43;
    --color-lowlight: #020c1b;
    --color-background: #0a192f;
    //--light-navy: #112240;
    //--lightest-navy: #233554;
    //--navy-shadow: rgba(2,12,27,0.7);
    //--dark-slate: #495670;
    --color-font: #8892b0;
    //--light-slate: #a8b2d1;
    --color-highlight: #ccd6f6;

    --sans-serif-font: Montserrat, "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    --h1-font: "Montserrat Alternates", var(--sans-serif-font);
    --article-font: "Ubuntu", var(--sans-serif-font);
    --transition: all 400ms ease-in-out;
}
/*
@media (prefers-color-scheme: light) {
    :root {
        --color-link: #8892b0;
        --color-lowlight: #ccd6f6;
        --color-background: #ffffff;
        //--light-navy: #112240;
        //--lightest-navy: #233554;
        //--navy-shadow: rgba(2,12,27,0.7);
        //--dark-slate: #495670;
        --color-font: #0a192f;
        //--light-slate: #a8b2d1;
        --color-highlight: #020c1b;
    }
}*/

html,
body {
    color: var(--color-font);
    margin: 0 1rem;
    padding: 0;
}

html {
    font-family: var(--sans-serif-font);
    font-size: 16px;
    overflow-y: auto;
}

body {
    background-color: var(--color-background);
}

a {
    transition: var(--transition);
    color: var(--color-font);

    &:hover {
        color: var(--color-link);
        cursor: pointer;
    }
}

h1 {
    font-family: var(--h1-font);
    font-size: 9rem;
    color: var(--color-highlight);
}

h2 {
    font-size: 3rem;
    font-weight: normal;
}

h3 {
    font-size: 2rem;
    font-weight: normal;
}

@media screen and (max-width: $break-large) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2.5rem;
    }
}

svg.portrait {
    box-sizing: border-box;
    border-radius: 50% 50% 50% 00%;
    border: 10px solid var(--color-font);
    margin: 2em 3em;
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    transition: var(--transition);
    background-color: var(--color-lowlight);

    @media screen and (max-width: $break-large) {
        border-width: 5px;
        margin: 0;
    }
}

.feather {
    width: 22px;
    height: 22px;
    stroke: currentColor;
    stroke-width: 1.75;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

small {
    font-size: 0.75em
}